<h1 style="text-align: center;">{{title}}</h1>
<div class="row">
    <div class="col-md-6 well">
        <!--<form (ngSubmit)="userForm.valid && save()" #userForm="ngForm" novalidate class="mobile-form">
            <md-list>
                <h3 md-subheader>User Info</h3>
                <md-list-item>
                    <md-input-container class="app-fullwidth-input">
                        <input md-input type="text" placeholder="Name" [(ngModel)]="userForm.name" required name="name" #name="ngModel">
                    </md-input-container>
                    <p [hidden]="!(name.hasError('required') && (name.touched || userForm.submitted))" class="app-form-error-message">
                        Name is required
                    </p>
                </md-list-item>
                <md-list-item>
                    <md-input-container class="app-fullwidth-input">
                        <input md-input placeholder="Email" type="text" class="form-control" name="email" [(ngModel)]="userForm.email" required #email="ngModel">
                    </md-input-container>
                    <p [hidden]="!(email.hasError('required') && (email.touched || userForm.submitted))" class="app-form-error-message">
                        Enter valid email
                    </p>
                </md-list-item>
                <md-list-item>
                    <md-input-container class="app-fullwidth-input">
                        <input md-input placeholder="Phone" type="text" class="form-control" name="phone" [(ngModel)]="userForm.phone">
                    </md-input-container>
                </md-list-item>
                <md-divider></md-divider>
                <h3 md-subheader>Notes</h3>
            </md-list>
            <button md-raised-button type="submit" class="btn btn-primary">Save</button>
        </form>-->

        <form novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm" class="mobile-form">
            <md-list>
                <h3 md-subheader>User Info</h3>
                <md-list-item>
                    <md-input-container class="app-fullwidth-input">
                        <input md-input type="text" placeholder="Name" formControlName="name">
                    </md-input-container>
                    <div class="app-form-error-message" *ngIf="userForm.get('name').touched && userForm.get('name').hasError('required')">
                        Name is required
                    </div>
                    <div class="app-form-error-message" *ngIf="userForm.get('name').touched && userForm.get('name').hasError('minlength')">
                        Minimum of 5 characters
                    </div>
                </md-list-item>
                <md-list-item>
                    <md-input-container class="app-fullwidth-input">
                        <input md-input type="date" placeholder="Birthday" formControlName="birthday">
                    </md-input-container>
                    <div class="app-form-error-message" *ngIf="userForm.get('birthday').touched && userForm.get('birthday').hasError('required')">
                        Birthday is required
                    </div>
                </md-list-item>
                <!-- implementar las demas  phone, email-->
                <div formGroupName="address">
                    <md-list-item>
                        <md-input-container class="app-fullwidth-input">
                            <input md-input type="text" placeholder="street" formControlName="street">
                        </md-input-container>
                        <div class="app-form-error-message" *ngIf="userForm.get('address').get('street').hasError('required') && (userForm.get('address').get('street').touched || submitted)">
                            Street is required
                        </div>
                    </md-list-item>
                <!-- implementar las demas dentro de este grupo suite, city-->
                </div>
            </md-list>
            <button md-raised-button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>