<h1 style="text-align: center;">{{title}}</h1>
<div class="row">
    <div class="col-md-6 well">
        <form (ngSubmit)="userForm.valid && save()" #userForm="ngForm" novalidate class="mobile-form">
            <md-list>
                <h3 md-subheader>User Info</h3>
                <md-list-item>
                    <md-input-container class="app-fullwidth-input">
                        <input md-input type="text" placeholder="Name" [(ngModel)]="user.name" required name="name" #name="ngModel">
                    </md-input-container>
                    <p [hidden]="!(name.hasError('required') && (name.touched || userForm.submitted))" class="app-form-error-message">
                        Name is required
                    </p>
                </md-list-item>
                <md-list-item>
                    <md-input-container class="app-fullwidth-input">
                        <input md-input placeholder="Email" type="text" class="form-control" name="email" [(ngModel)]="user.email" required #email="ngModel">
                    </md-input-container>
                    <p [hidden]="!(email.hasError('required') && (email.touched || userForm.submitted))" class="app-form-error-message">
                        Enter valid email
                    </p>
                </md-list-item>
                <md-list-item>
                    <md-input-container class="app-fullwidth-input">
                        <input md-input placeholder="Phone" type="text" class="form-control" name="phone" [(ngModel)]="user.phone">
                    </md-input-container>
                </md-list-item>
                <md-divider></md-divider>
                <h3 md-subheader>Notes</h3>
            </md-list>
            <button md-raised-button type="submit" class="btn btn-primary">Save</button>
        </form>

        <form novalidate [formGroup]="registerForm">
            <label>Firstname:</label>
            <input type="text" formControlName="firstname">

            <label>Lastname:</label>
            <input type="text" formControlName="lastname">

            <fieldset formGroupName="address">
                <label>Street:</label>
                <input type="text" formControlName="street">

                <label>Zip:</label>
                <input type="text" formControlName="zip">

                <label>City:</label>
                <input type="text" formControlName="city">
            </fieldset>
            <p *ngIf="registerForm.controls['firstname'].hasError('required') && registerForm.controls['firstname'].touched">
                required
            </p>
            <p *ngIf="registerForm.controls['firstname'].hasError('minlength') && registerForm.controls['firstname'].touched">
                Enter valid length
            </p>
            <button type="submit" [disabled]="!registerForm.valid">Submit</button>
        </form>
    </div>
</div>